/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 70px;
  padding-bottom: 20px;
}

a.navbar-brand{
    height: 0px;
    overflow: hidden;
    padding: 0;
    height: 50px;
    line-height: 0;
    opacity: .75;
    padding-right: 10px;
}
a.navbar-brand:hover{
    opacity: 1;
}
/*a.navbar-brand{
    height: 0;
    padding: 0;
    padding-top: 80px;
    overflow: hidden;
    width: 136px;
}*/

.form-settings .form-control,
.form-signin .form-control{
    margin: 10px 0;
}

div.dashboard{
    padding-bottom: 50px;
}
div.dashboard h3{
    margin-top: 0;
    margin-bottom: 5px;
}
div.dashboard div.navbar {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}
div.dashboard div.bpms-panel{
    border: 1px solid #e7e7e7;
    border-top: 0 none;
}
div.dashboard div.bpms-panel-body{
    padding: 30px;
}

div.dashboard div.navbar{
    padding-left: 0;
    margin-bottom: 0;
}
div.dashboard div.navbar ul{
    margin-left: 0;
}
div.dashboard .row{
}

th.align-right,
td.align-right{
    text-align: right;
}

.settings div.row {
    display: table;
}

.settings div.col-sm-6 {
    float: none;
    display: table-cell;
    vertical-align: top;
}

.btn-group-margin{
    margin-bottom: 20px;
}

.glyphicon-disabled{
    opacity: .25;
}


/**
 * Overview
 */

.bpms-overview{
    font-size: 1em;
    overflow: auto;
    border: 2px solid #ccc;
    background-color: #fff;
}
.bpms-overview-content{
}

.bpms-overview-content,
.bpms-ov-month,
.bpms-ov-day,
.bpms-ov-cell{
    float: left;
    background-color: #fff;
}

.bpms-ov-active{
    font-weight: bold;
    background-color: #f1f1f1;
}
.bpms-ov-cell{
    text-align: center;
    width: 100%;
    border-top: 1px solid #ccc;
    margin-top: -1px;
}
.bpms-ov-cell .bpms-ov-content{
    display: block;
    height: 2em;
    border-right: 1px solid #ccc;
    line-height: 2em;
}
.bpms-clear{
    clear: both;
}
.bpms-ov-month28{width: 56em;}
.bpms-ov-month29{width: 58em;}
.bpms-ov-month30{width: 60em;}
.bpms-ov-month31{width: 62em;}
.bpms-ov-day{
    width: 2em;
}

.bpms-ov-entry{
}
.bpms-ov-eshim{
    position: relative;
    top: 0.2em;
}
.bpms-ov-entry .progress{
    height: 1.6em;
    margin: 0;
}
.bpms-milestones{
    padding-bottom: 5px;
}




/**
 * Typeahead
 */
.typeahead,
.tt-query,
.tt-hint {
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 1px solid #e7e7e7;
}

.tt-query {
}

.tt-hint {
  color: #999
}

.tt-dropdown-menu {
  width: 14em;
  margin: 0;
  padding: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.tt-suggestion {
  padding: 3px 20px;
  line-height: 24px;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}