/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 70px;
  padding-bottom: 20px;
}

.form-settings .form-control,
.form-signin .form-control{
    margin: 10px 0;
}

div.dashboard{
    padding-bottom: 50px;
}
div.dashboard h3{
    margin-top: 0;
    margin-bottom: 5px;
}
div.dashboard div.navbar {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}
div.dashboard div.bpms-panel{
    border: 1px solid #e7e7e7;
    border-top: 0 none;
}
div.dashboard div.bpms-panel-body{
    padding: 30px;
}

div.dashboard div.navbar{
    padding-left: 0;
    margin-bottom: 0;
}
div.dashboard div.navbar ul{
    margin-left: 0;
}
div.dashboard .row{
}

th.align-right,
td.align-right{
    text-align: right;
}

.settings div.row {
    display: table;
}

.settings div.col-sm-6 {
    float: none;
    display: table-cell;
    vertical-align: top;
}

.btn-group-margin{
    margin-bottom: 20px;
}

.glyphicon-disabled{
    opacity: .25;
}






/**
 * Typeahead
 */
.typeahead,
.tt-query,
.tt-hint {
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 1px solid #e7e7e7;
}

.tt-query {
}

.tt-hint {
  color: #999
}

.tt-dropdown-menu {
  width: 14em;
  margin: 0;
  padding: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.tt-suggestion {
  padding: 3px 20px;
  line-height: 24px;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}